@import 'the-new-css-reset/css/reset.css';
@import 'bootstrap/scss/bootstrap';

$colorBg: #fff;
body {
  background: $colorBg;
  color: #ccc;
}
button {
  color: #ccc !important;
}

.section {
  padding: 20px auto;
}

.cursor-pointer {
  cursor: pointer;
}
